body {
    background: rgb(26, 31, 102);
    color: rgb(127, 173, 243);
    font-family: "Kalam", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}

button {
    background-color: rgb(66, 78, 241);
    color: rgb(127, 173, 243);
    font-family: "Kalam", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}